{% extends 'base.html' %}
{%block title%} GUARD {%endblock title%}

{%block body%} <div class="container mb-4 py-4">
    <img src="/static/g.jfif"
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 my-2" width="600" height="500" alt="...">
</div>
<h1 style="color:Red; font-size:200%; text-align:center;">
    ______GUARD______
    </h1>
<div class="container">
    <form method='post' action="/guard">
        {%csrf_token%}
        <table>
            <tr>
                <td>
                    Guard ID
                </td>
                <td>
                    <input type="text" placeholder="ID" name='id' style="font-size:20px;"required>
                </td>
            </tr>
            <tr>
                <td>
                    Guard Name:
                </td>
                <td>
                    <input type="text" placeholder="Name" name='name' style="font-size:20px;"required>
                </td>
            </tr>
            <tr>
                <td>
                         Password:<br>
                </td>
                <td>
                    <input type="password" placeholder="Password" name='password' style="font-size:20px;"required>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <input type="text" placeholder="Address" name='address' style="font-size:20px;">
                </td>
            </tr>
            <tr>
                <td>
                    Shift:
                </td>
                <td>
                    <input type="text"placeholder="Shift" name='shift' style="font-size:20px;">
                </td>
            </tr>
            
            <tr>
                <td>
                    <button type="submit" class="btn btn-outline-success" 						style="font-size:20px; align=center;">Submit</button>
                    <button type="reset" class="btn btn-outline-success" 
                style="font-size:20px; align=center;">Reset</button>
                </td>
            </tr>

        </table>
    </form>
</div>
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
  </footer>
{%endblock body%}